<a href="https://colab.research.google.com/github/grandweb4/module2_intro_to_pandas/blob/main/Copy_of_2_3_intentions_and_column_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Intentions and Column Expressions

In [1]:
!pip install dfply
import pandas as pd
from dfply import *
import matplotlib.pylab as plt
%matplotlib inline

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dfply
  Downloading dfply-0.3.3-py3-none-any.whl (612 kB)
     |████████████████████████████████| 612 kB 5.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

In [2]:
artist_url = "https://github.com/MuseumofModernArt/collection/raw/master/Artists.csv"
artists =  pd.read_csv(artist_url)
artists.head()

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN

In [3]:
artwork_url = "https://github.com/MuseumofModernArt/collection/raw/master/Artworks.csv"
artwork = pd.read_csv(artwork_url) # Big file, be patient
artwork.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

## `X` is an `Intention`

<img src="https://github.com/grandweb4/module2_intro_to_pandas/blob/main/img/dfply_X_intention_1.png?raw=1" width = 800>

Think of it as recording an expression for later evaluation

In [4]:
expr = X.BeginDate.head()
expr

## Use `evaluate` to apply the expression

We can apply an expression *later* using `evaluate` with a dataframe.

In [5]:
expr.evaluate(artists)

0    1930
1    1936
2    1941
3    1946
4    1941
Name: BeginDate, dtype: int64

## Intention expressions are reusable!

In [6]:
# Reusable!
expr.evaluate(artwork)

0    (1841)
1    (1944)
2    (1876)
3    (1944)
4    (1876)
Name: BeginDate, dtype: object

## <font color="red"> Exercise 2.3.1 </font>
    
**Tasks:**

1. Create and evaluate a column expression, saved as `my_expr`, that checks that the `Height` column is larger than 40. **Hint:** The space and `()` in the column name requires you to use `X['col name']` format.
2. Evaluate that column expression to the `Artist` and `Artwork` data frame, that is evaluate `my_expr.evaluate(df)`.
3. Use the expression object in filter, e.g. `filter(my_expr)` on the `Artwork` data set 
4. Now try to perform the filter with a pipe and no expression, e.g. `filter_by(artwork['Height cm' > 40)`.  Why does this still work?  When might we run into trouble?
5. Write a paragraph that summarizes how this all works.

In [7]:
# Code for Task 1
my_expr = (X['Height (cm)'] > 40)

In [8]:
# Code for Task 2
my_expr.evaluate(artwork)

0          True
1          True
2         False
3          True
4         False
          ...
139932    False
139933    False
139934    False
139935    False
139936    False
Name: Height (cm), Length: 139937, dtype: bool

In [10]:
my_expr.evaluate(artists) #Doesn't have the column 'Height (cm)'

KeyError: ignored

In [9]:
# Code for Task 3
artwork >> filter_by(my_expr)

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.600000,NaN,NaN,168.900000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.640100,NaN,NaN,29.845100,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.800000,NaN,NaN,50.800000,NaN,NaN
30,"Memorial to the Six Million Jewish Martyrs, pr...",Louis I. Kahn,2964,"(American, born Estonia. 1901–1974)",(American),(1901),(1974),(Male),1968,Charcoal and graphite on tracing paper,...,http://www.moma.org/media/W1siZiIsIjE3MyJdLFsi...,NaN,NaN,NaN,113.000000,NaN,NaN,167.600000,NaN,NaN
31,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjIwMCJdLFsi...,NaN,NaN,NaN,50.800000,NaN,NaN,50.800000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139882,"Untitled from Two Buttocks, Rubbing Together, ...",Obiora Udechukwu,134108,"(Nigerian, born 1946)",(Nigerian),(1946),(0),(Male),2006,One from a series of twenty-four drawings in i...,...,NaN,NaN,NaN,NaN,76.200152,NaN,NaN,55.880112,NaN,NaN
139883,"Untitled from Two Buttocks, Rubbing Together, ...",Obiora Udechukwu,134108,"(Nigerian, born 1946)",(Nigerian),(1946),(0),(Male),2006,One from a series of twenty-four drawings in i...,...,NaN,NaN,NaN,NaN,76.200152,NaN,NaN,55.880112,NaN,NaN
139884,"Untitled from Two Buttocks, Rubbing Together, ...",Obiora Udechukwu,134108,"(Nigerian, born 1946)",(Nigerian),(1946),(0),(Male),2006,One from a series of twenty-four drawings in i...,...,NaN,NaN,NaN,NaN,76.200152,NaN,NaN,55.880112,NaN,NaN
139886,"Barcelona Exhibition, German Section, Transpor...","Ludwig Mies van der Rohe, Lilly Reich","7166, 8059","(American, born Germany. 1886–1969) (German, 1...",(American) (German),(1886) (1885),(1969) (1947),(Male) (Female),1929,Print,...,NaN,NaN,NaN,NaN,43.815088,NaN,NaN,85.090170,NaN,NaN
139887,"Barcelona Exhibition, German Section, Chemistr...","Ludwig Mies van der Rohe, Lilly Reich","7166, 8059","(American, born Germany. 1886–1969) (German, 1...",(American) (German),(1886) (1885),(1969) (1947),(Male) (Female),1929,Print,...,NaN,NaN,NaN,NaN,64.770130,NaN,NaN,88.265177,NaN,NaN

In [18]:
filter_by(artwork['Height (cm)'] > 40)


> Basically, you are able to either pipe to the expressions or you can manually run them on an expression one by one or all at the same time in one line. It doesn't matter too much, but where using an expression is useful is to pass in other values and for clean, consistency sake.

## Not just for data frames ... works for any* expression

In [ ]:
double, line = 2*X, 3*X + 5

In [ ]:
double.evaluate(3), line.evaluate(6)

(6, 23)

## We can make functions lazy too!

Decorate a function with `make_symbolic` to allow lazy evaluation of `Intention` objects

In [ ]:
from math import log
log = make_symbolic(log)

In [ ]:
log(8, 2) # Works as expected with numbers

3.0

## Passing in `X` now makes a `log` expression

In [ ]:
expr = log(X, 2) # Passing in X makes it lazy/symbolic
expr

In [ ]:
expr.evaluate(16) # Evaluate later

4.0